<% if(userID) { %>
<form method="post" action="/logout">
  <button type="submit">Logout</button>
</form>
<% } else { %>
<h1><a href="/register">Register</a></h1>
<h1><a href="/login">Login</a></h1>
<%} %>






