<!DOCTYPE html>
<html lang="en">
<title>TinyApp</title>
<h1>TinyApp</h1>
  <body style="font-size:20px; padding:50px;">
    <h2>Register Account</h2>
    <form method="POST" action="/register">
      <input type="email" name="email" placeholder="email" style="width: 300px">
      <input type="password" name="password" placeholder="password" style="width: 300px">
    <button type="submit">Submit</button>
    </form>
    <h6> Already Registered? --> <button><a href="/login">Login</a></button> </h6>
   </body>
</html>