<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%-include('partials/_header.ejs') %>
   <p><%= shortURL %></p>
   <p><%= longURL %></p>
  <form method="POST" action="/urls/<%=shortURL%>">
  <input id="longURL" type="text" name="longURL" placeholder="Update" style="width: 300px">
  <button type="submit">Update!</button>
  </form>
</body>
</html>