
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<%-include('partials/_header.ejs') %>
     <table> <% for (url in urls) { %>
      <tr><td>
      <%= url %>
      </td>
      <td>
        <br>
     <%= urls[url] %>
     <form method="POST" action="/urls/9sm5xK/delete"><button type="button">Delete!</button></form>
      </td></tr>
     <% } %></table>
    <a href="#" target=_blank>Create new short url</a>

</body>
</html>