<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <%- include partials/_header %>
      <form method="POST" action="/register">
  <input type="email" name="email" placeholder="email" style="width: 300px">
  <input type="password" name="password" placeholder="password" style="width: 300px">
  <button type="submit">Submit</button>
  </form>
  </body>
</html>